<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid">
    <%= image_tag 'picture.jpg', class: 'indexPic text-center' %>
</div>
<div class="container-fluid white-bg">
  <div class="about-me">
    <h1><%= @about.title %><% if user_signed_in? %>
    <%= link_to edit_path, class: 'btn btn-primary' do %>
      <i class="fa fa-edit"></i>
      <% end %>
    <% end %></h1> 
    <p><%= @about.content %></p>
    <div class="resume">
      <%= link_to 'view résumé', @about.resume_file_url, class: 'btn btn-default btn-lg' %>
    </div>
  </div>
</div> <!-- end gray about me -->
<div class="container-fluid black-bg">
<div class="passions-bg"></div>
<div class="passions">
  <h1>What I Do</h1>
    <div class="row">
      <div class="col-sm-6">
        <h2><i class="fa fa-code"></i> Web Development</h2>
          <p>One of my passions is creating a beautiful place to display information
          on the web.  Using HTML, CSS, Javascript, PHP, and Ruby on Rails, I make
          websites that are pleasing to look at in a DRY and RESTful environment</p>
      </div>  
      <div class="col-sm-6">
        <h2><i class="fa fa-pencil-square-o"></i> Graphic and UI/UX Design</h2>
          <p>Creating attractive art and designs has been one of my favorite talents
          since I was 12.  After furthering my knowledge throughout high school and college,
          I can create any graphic or UI/UX design in Photoshop/Illustrator</p>
      </div>  
    </div> <!-- end row one -->
    
    <div class="row">
      <div class="col-sm-6">
        <h2><i class="fa fa-cogs"></i> Software Development</h2>
          <p>I can also develop applications that solve your problems using
          Java, C#, C++, or Python </p>
      </div>  
      <div class="col-sm-6">
        <h2><i class="fa fa-book"></i> Always Progressing</h2>
          <p>No matter what I am currently working on, I always try to learn more 
          and further my knowledge.  There is so much to learn and always a new
          language or framework that I get interested in for a new project</p>
      </div>  
    </div><!-- end row two -->
  </div>
</div><!-- end What I do --> 
<div class="container-fluid dark-gray-bg">
  <div class="coursework">
    <h1>Relevant Coursework</h1>
    <%= image_tag('AU-Logo.png', class: "circle-logo", style: 'float: left;') %>
    <h2 class="college-title">Aurora University<br/>
    B.S. in Computer Science</h2>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <ul class="courses">
          <li><h4>Software Engineering</h4></li>
          <li><h4>Computer Science Capstone</h4></li>
          <li><h4>Advanced Programming</h4></li>
          <li><h4>Database Design & Implementation</h4></li>
          <li><h4>Advanced Web Application Development</h4></li>
          <li><h4>Data Structures and Algorithms</h4></li>
          <li><h4>Intro to Mobile Application Development</h4></li>
          <li><h4>Integrated Programming</h4></li>
          <li><h4>Introduction to Computer Programming</h4></li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul id="skills">
          <li>Java</li>
          <li>Ruby on Rails</li>
          <li>Python</li>
          <li>HTML5</li>
          <li>CSS3</li>
          <li>Javascript</li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
<div class="container-fluid blue-bg">
  <div class="blog">
    <h1><%= link_to  @post.title, post_date_path(@post.year,@post.month,@post.slug) %></h1>
      <p class="date"><i class="fa fa-calendar"></i> <%= @post.created_at.strftime("%B %d, %Y") %></p>
      <p class="post"><%= markdown(@post.content[0..400] + "...") %></p>
      <%= link_to post_date_path(@post.year,@post.month,@post.slug), class: "blog-link" do %>
        view full post
        <i class="fa fa-arrow-right"></i>
      <% end %>
  </div>
</div>