<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid">
    <%= image_tag 'picture.jpg', class: 'indexPic text-center' %>
</div>
<div class="container-fluid white-bg">
  <div class="about-me">
    <h1>About Me</h1>
    <p>My name is Kyle Grondin, and I am a 23 year old 4th year student at Aurora University in Aurora, Illinois.
    I am currently pursuing a B.S. in Computer Science and work part time doing graphic
    design and full stack web development.  When I was around 11 or 12, I learned of Adobe Photoshop
    because my father worked at a printing company.  I would spend hours and hours learning to
    create anything I could to show off on the internet.  Eventually I learned about portfolios
    and decided I wanted to make one.  I dived into HTML, CSS, and Javascript headfirst and loved it.  
    This portfolio you see now, is unforunately not what I made back then, and sadly I lost the code long ago.  Ever since
    then, I have loved to create whatever I could.  I continued to design stuff
    and eventually got a job creating a website.</p>
    <div class="resume">
      <%= link_to 'view résumé', asset_path("resume3.pdf"), class: 'btn btn-default btn-lg' %>
    </div>
  </div>
</div> <!-- end gray about me -->
<div class="container-fluid black-bg">
<div class="passions-bg"></div>
<div class="passions">
  <h1>What I Do</h1>
    <div class="row">
      <div class="col-sm-6">
        <h2><i class="fa fa-code"></i> Web Development</h2>
          <p>One of my passions is creating a beautiful place to display information
          on the web.  Using HTML, CSS, Javascript, PHP, and Ruby on Rails, I make
          websites that are pleasing to look at in a DRY and RESTful environment</p>
      </div>  
      <div class="col-sm-6">
        <h2><i class="fa fa-pencil-square-o"></i> Graphic and UX Design</h2>
          <p>Creating attractive art and designs has been one of my favorite talents
          since I was 12.  After furthering my knowledge throughout high school and college,
          I can create any graphic or UX design in Photoshop/Illustrator</p>
      </div>  
    </div> <!-- end row one -->
    
    <div class="row">
      <div class="col-sm-6">
        <h2><i class="fa fa-cogs"></i> Software Development</h2>
          <p>I can also develop applications that solve your problems using
          Java, C#, C++, or Python </p>
      </div>  
      <div class="col-sm-6">
        <h2><i class="fa fa-book"></i> Always Progressing</h2>
          <p>No matter what I am currently working on, I always try to learn more 
          and further my knowledge.  There is so much to learn and always a new
          language or framework that I get interested in for a new project</p>
      </div>  
    </div><!-- end row two -->
  </div>
</div><!-- end What I do --> 
<div class="container-fluid dark-gray-bg">
  <div class="coursework">
    <h1>Relevant Coursework</h1>
    <%= image_tag('AU-Logo.png', class: "circle-logo", style: 'float: left;') %>
    <h2 class="college-title">Aurora University<br/>
    B.S. in Computer Science</h2>
    <hr>
    <ul class="courses">
      <li>
        <h4>Software Engineering</h4>
      </li>
      <li>
        <h4>Computer Science Capstone</h4>
        
      </li>
      <li>
        <h4>Advanced Programming</h4>
        
      </li>
      <li>
        <h4>Database Design & Implementation</h4>
        
      </li>
      <li>
        <h4>Advanced Web Application Development</h4>
        
      </li>
      <li>
        <h4>Data Structures and Algorithms</h4>
        
      </li>
      <li>
        <h4>Intro to Mobile Application Development</h4>
        
      </li>
      <li>
        <h4>Integrated Programming</h4>
        
      </li>
      <li>
        <h4>Introduction to Computer Programming</h4>
        
      </li>
    </ul>
  </div>
  
</div>
<div class="container-fluid blue-bg">
  <div class="blog">
    <h1><%= link_to  @post.title, post_date_path(@post.year,@post.month,@post.slug) %></h1>
      <p class="date">Published on <%= @post.created_at.strftime("%B %d, %Y") %></p>
      <p class="post"><%= markdown(@post.content[0..400] + "...") %></p>
      <%= link_to post_date_path(@post.year,@post.month,@post.slug), class: "blog-link" do %>
        view full post
        <i class="fa fa-arrow-right"></i>
      <% end %>
  </div>
</div>