<div class="jumbotron jumbotron-fluid">
  <div class="container-fluid">
  </div>
</div>
<div class="container-fluid">
    <%= image_tag 'picture.jpg', class: 'indexPic text-center' %>
</div>
<div class="container-fluid gray-bg">
  <div class="about-me">
    <h1>about me</h1>
    <p>My name is Kyle Grondin, and I am a 23 year old student at Aurora University in Aurora, Illinois.
    I am currently pursuing a B.S. in Computer Science and work part time doing graphic
    design and web design.  When I was around 11 or 12, I learned of Adobe Photoshop
    because my father worked at a printing company.  I would spend hours and hours learning to
    create anything I could to show off on the internet.  Eventually I learned about portfolios
    and decided I wanted to make one.  I dived into HTML, CSS, and Javascript headfirst and loved it.  
    This portfolio you see now, is unforunately not what I made back then, and sadly I lost the code long ago.  Ever since
    then, I have loved to create stuff and make whatever I could.  I continued to design stuff
    and eventually got a job creating a website.</p>
    <p>I am proficient in Java, HTML, CSS, PHP, Python, C#, Ruby (on Rails), and am familiar with C++, Javascript, MySQL, and SQLite3.
    I love creating anything and in my spare time teach myself various languages and starting
    new projects.  If I am not gaming, I am often seen making something new.  My current interests are
    full stack web development, Android app development, and potentially small game development.</p>
    <div class="resume">
      <%= link_to 'view résumé', asset_path("resume3.pdf"), class: 'btn btn-default btn-lg' %>
    </div>
  </div>
</div> <!-- end gray about me -->
<div class="container-fluid blue-bg">
  <div class="blog">
    <h1><%= @post.title %></h1>
    <p class="date"><%= localize(@post.created_at, :format => :long) %></p>
    <p class="post"><%= @post.content %></p></p>
    <%= link_to post_path(@post), class: "blog-link" do %>
      view full post
      <i class="fa fa-arrow-right"></i>
    <% end %>
  </div>
</div>