<div class="jumbotron jumbotron-fluid">
    <h1 class="display-3">PROJECTS</h1>

</div>
<div class="container-fluid white-bg-no-margin blog-index">
  <div class="row">
    
      <div class="contact-btn">
        <% if (user_signed_in?) %>
          <%= link_to 'New Project', new_project_path, class: 'btn btn-default contact-btn' %>
        <% end %>
      </div>
        <% @projects.each do |project| %>
        <div class="row project">
          <div class="col-sm-5">
            <%= link_to project_slug_path(project.slug) do %>
              <%= image_tag project.avatar.url(:medium), class: 'img-responsive' %>
            <% end %>
           </div>
           <div class="col-sm-7">
            <h2><%= project.title %></h2>
            <p><%= project.description %></p>
            <%= link_to 'View Project', project_slug_path(project.slug), class: 'btn btn-primary' %>
           </div>
        </div>
        <% end %>
  </div>
</div>