<div class="container-fluid gray-contact">
  <div class="row">
    <div class="col-md-8">
        <%= image_tag @project.avatar.url(:large), class: 'img-responsive' %>
    </div>
    <div class="col-md-4">
        <h2><%= @project.title %></h2>
        <% if (user_signed_in?) %>
          <%= link_to "edit project",edit_project_path, class: 'btn btn-default' %>
        <% end %>
        <p class="blog-date"><%= localize(@project.created_at, :format => :long) %></p>
        <%= markdown(@project.description) %><br/>
        <%= link_to 'Back', :back %>
  
  </div>
  </div>
</div>