<div class="container-fluid gray-contact">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Blog Index</h1>
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
      <% @posts.each do |post| %>
        <%= link_to post do %>
        <%= post.title %>
        <% end %>
        <%= post.content %><br/>
        
      <% end %>
      <%= link_to "new post", new_post_path, class: 'btn btn-default btn-lg' %>
     
  </div>
  </div>
</div>