<div class="container gray-contact blog-index">
  <div class="row">
    <% flash.each do |type, msg| %>
      <%= content_tag :div, msg, class: "alert alert-#{type}" %>
    <% end %>
    
    <div class="col-md-3 blog-left-side">
      <%= render 'leftside' %>
    </div>
    <div class="col-md-9">
      <% @posts.each do |post| %>
        <div class="blog-post well">
          <h2>
          <%= link_to post_date_path(post.year, post.month, post.slug) do %>
            <%= post.title %>
          <% end %>
          </h2>
          <p class="blog-date"><%= localize(post.created_at, :format => :long) %></p>
          <p><%= markdown (post.content) %></p>
        </div>
      <% end %>
      
      <%= link_to "new post", new_post_path, class: 'btn btn-default btn-lg' %>
      

      <%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
 
    </div>
  </div>
</div>