<% content_for :title, @post.title + " by Kyle Grondin" %>
<div class="container-fluid gray-contact">
  <div class="row">
    <div class="col-md-3 blog-left-side">
      <%= render 'leftside' %>
    </div>
    <div class="col-md-9">
      <div class="well">
        <h2><%= @post.title %></h2>
        <% if (user_signed_in?) %>
          <%= link_to "edit post", edit_post_path(@post.year, @post.month, @post.slug), class: 'btn btn-default' %>
        <% end %>
        <p class="blog-date"><%= localize(@post.created_at, :format => :long) %></p>
        <%= markdown(@post.content) %><br/>
        <%= link_to 'Back', :back %>
    <hr>
        <div class="share">
          <h4>Share <%= @post.title %></h4>
          <a onclick="javascript:window.open('http://twitter.com/intent/tweet?text=<%= @post.title %> by @kagaroni - &amp;url=<%= post_date_url(@post.year, @post.month, @post.slug) %>', '_blank', 'width=800, height=500, top=200, left=300');void(0);">
            <i class="fa fa-twitter fa-2x"></i></a>
          <a onclick="javascript:window:open('http://www.facebook.com/sharer.php?u=<%= post_date_url(@post.year, @post.month, @post.slug) %>', '_blank','width=800, height=500, top=200, left=300');void(0);">
            <i class="fa fa-facebook fa-2x"></i></a>
          <a onclick="javascript:window:open('http://plus.google.com/share?url=<%= post_date_url(@post.year, @post.month, @post.slug) %>', '_blank','width=800, height=500, top=200, left=300');void(0);">
            <i class="fa fa-google-plus fa-2x"></i></a>
        </div>
     <%= render 'disqus' %>
     </div>
  </div>
  </div>
</div>