<!DOCTYPE html>
<html>
<head>
  <title>Kyle Grondin - Software Developer &amp; Graphic Designer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700" rel="stylesheet">
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
            
            <span class="fname">KYLE</span> <span class="lname">GRONDIN</span>
          <% end %>
        </div>
        <div class="collapse navbar-collapse" id="main-nav-collapse">
          <div class="nav navbar-nav navbar-right">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "BLOG", posts_path %></li>
            <li><%= link_to "PROJECTS", '#' %></li>
            <li><%= link_to "CONTACT", new_contact_path %></li>
            </ul>
          </div>
          
        </div> <!-- /.navbar-collapse -->
      </div>
    </nav>
    <div class="container flash-container">
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "alert alert-#{type}" %>
      <% end %>
    </div>
<%= yield %>
<div class="container-fluid footer-bg">
  <div class="footer">
    <h5>&copy; 2017 Kyle Grondin -
      <%= link_to 'source','https://github.com/kagron/portfolio' %>
      <% if user_signed_in? %>
        - <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
      <% end %>
    </h5>
    <div class="contact-icons">
    <%= link_to 'https://www.linkedin.com/in/kyle-grondin-3b922713a/' do %>
      <i class="fa fa-linkedin-square fa-3x"></i>
    <% end %>
    <%= link_to 'https://github.com/kagron' do %>
      <i class="fa fa-github fa-3x"></i>
    <% end %>
    <%= link_to 'https://twitter.com/Kagaroni' do %>
      <i class="fa fa-twitter fa-3x"></i>
    <% end %>
    <%= link_to 'https://www.facebook.com/kyle.grondin' do %>
      <i class="fa fa-facebook-square fa-3x"></i>
    <% end %>
    </div>
  </div>
</div>

</body>
</html>
